    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Bus List(s)</h1>
              <a routerLink="/bus/create" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> &nbsp;Create</a>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                <li class="breadcrumb-item active">Bus List</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered table-sm text-center">
                      <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Bus Number</th>
                            <th scope="col">Start Place</th>
                            <th scope="col">Stoppage</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let bus of buslist; let i = index;">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ bus.busNumber }}</td>
                            <td>{{ bus.startFrom }}</td>
                            <td>{{ bus.stopAt }}</td>
                            <td>{{ bus.startTime | date:'hh:mm a' }}</td>
                            <td>{{ bus.endTime | date:'hh:mm a' }}</td>
                            <td>
                              <a [routerLink]="['/bus/edit', bus.id]" class="btn btn-info btn-sm">Edit</a> |
                              <button (click)="deleteBus(bus.id)" class="btn btn-danger btn-sm">Delete</button>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>